/* Color References
#E7E6E3 - off white
#4E4923 - dark olive
#938048 - dull gold
#C7A547 - goldenrod
#787E49 - sage
#A9AD8B - pale sage
#261B0D - deep brown
#1A180B - near black
*/

html {

}

body {
  margin: auto;
}

/* Header stuffs */
header {
  background-image: url(https://cdn.discordapp.com/attachments/912154330033963062/912823107943817226/IMG_4860.jpg);
  min-height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
  margin: 0;
  padding: 5em;
  text-align: center;
}

#home-link {
  color: #E7E6E3;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2.3em;
  font-family: "Special Elite", sans-serif;
}

#home-link:hover {
  color: #787E49;
  transition: color 1.2s;
}

header nav ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  background-color: #787E49;
  text-align: center;
  cursor: pointer;
}

header nav ul li {
  display: inline-block;
  font-size: .95em;
  font-family: "Verdana", sans-serif;
}

header nav ul li a {
  padding: 2px 20px;
  color: #f5ece2;
  text-decoration: none;
}

header nav ul li a:hover {
  background-color: #A9AD8B;
  border-radius: 1em;
  color: #4E4923;
}

/* Body stuffs */
.main-container {
  margin: 8%;
  margin-bottom: 14%;
}

h2 {
  text-align: center;
  font-family: "Special Elite", sans-serif;
  font-size: 2em;
  color: #504a23;
  clear: both;
}

h2.sub {
  font-size: 1.4em;
  margin-top: -10px;
  margin-bottom: 30px;
}

p {
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  color: black;
  display: block;
  margin-right: 0;
  line-height: 1.5em;
}

strong {
  color: #261B0D;
}

figure.sidephoto {
  float: right;
  display: block;
  border: .15em #907f49 dashed;
  padding: .19em;
  margin: 2%;
  overflow: auto;
  clear: none;
}

img.sidephoto {
  max-width: 250px;
}

figcaption {
  font-family: "Verdana", sans-serif;
  font-size: 12px;
  color: #907f49;
  text-align: center;
}

/* Footer stuffs */
footer {
  background-color: #4E4923;
  padding: 7%;
  clear: both;
}

footer p {
  color: #e7e7e5;
}

/* Pages */
.text-list {
  display: block;
  margin-left: 1em;
  list-style: square;
}

.text-list-item {
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  color: black;
  line-height: 1.5em;
}

.spaced-list {
  padding: 2em;
}

.text-item-list:first-child {
  padding-top: 0;
}

.text-list-item a {
  color: #938048;
  text-decoration: none;
}

.text-list-item a:hover {
  color: #504a23;
}

h3 {
  font-family: "Verdana", sans-serif;
  font-variant: small-caps;
  color: #938048;
  margin-top: 2em;
  margin-bottom: -.3em;
}
